<!-- Menú lateral. La posición de este se configura EN EL LAYOUT A USAR. -->
<div id="menu-lateral">
    <div class="p-5 font-italic">
        <a title="Inicio" href="purgatorio.html">
            <h1 id="menu-lat-inicio" class="fuente-josefin text-white">{{site.title}}</h1>
        </a>
        <ul class="text-white fuente-opensans list-unstyled">
            <li><a class="pr-1" href="purgatorio-anim.html">Animación</a></li>
            <li><a class="pr-1" href="purgatorio-inter.html">Interacción</a></li>
            <li><a class="pr-1" href="purgatorio-blog.html">Textual/Blog</a></li>
            <br>
            <li><a class="pr-1" href="acerca.html">Acerca</a></li>
            <li><a class="pr-1" href="contacto.html">Contacto</a></li>
        </ul>
    </div>
</div>