<!-- Menú lateral. La posición de este se configura EN EL LAYOUT A USAR. -->
<div id="menu-lateral">
    <div class="p-5 font-italic">
        <a href="purgatorio.html">
            <h1 id="menu-lat-inicio" class="fuente-josefin text-white"> {{site.title}}</h1>
        </a>
        <ul class="text-white fuente-opensans list-unstyled">
            <li class="menu-lateral-elemento">Animación</li>
            <li class="menu-lateral-elemento">Interacción</li>
            <li class="menu-lateral-elemento">Textual/Blog</li>
            <br>
            <li class="menu-lateral-elemento">Acerca</li>
            <li class="menu-lateral-elemento">Contacto</li>
            <!-- <p class="h1 invisible">{{site.title}}</p> -->
        </ul>
    </div>
</div>