@charset "utf-8";
// Importa el CSS de las estrellas (lo pongo en otro docu para no tener todo aquí)
@import "minima/estrellas";

// Todos recomiendan usar ésto, jej.
* {
  box-sizing: border-box;
}

::selection{
  background: #DF0202;
}

// CSS especíico de 'limbo.html'
.limbo-body {
  background: black;
}

.fuente-josefin {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4rem !important;
}

.letras-separadas {
  letter-spacing: 0.7rem;
}

.fuente-josefin-light {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
}

// Centra un div en el absoluto centro.
.centrar {
  position: absolute;
  top: 50%;
  left: 50%;
  /*El translate hace que el punto de anclaje esté en el centro.*/
  transform: translate(-50%, -50%);
}