@charset "utf-8";
// Importa el CSS de las estrellas (lo pongo en otro docu para no tener todo aquí y se alente la máquina.)
@import "minima/estrellas";

$fuente-josefin: 'Josefin Sans', sans-serif;
$fuente-opensans: 'Open Sans', sans-serif;
$color-seleccion: #DF0202;

/* Mixin para vertical-align */
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// Mixin para centrar
@mixin centrar() {
  position: absolute;
  top: 50%;
  left: 50%;
  /*El translate hace que el punto de anclaje esté en el centro.*/
  transform: translate(-50%, -50%);
}

// Todos recomiendan usar ésto, jej.
* {
  box-sizing: border-box;
}

::selection {
  background: $color-seleccion;
}

// CSS especíico de 'limbo.html'
.limbo-body {
  background: black;
}

.fuente-josefin-limbo {
  font-family: $fuente-josefin;
  font-size: 4rem !important;
}

.fuente-josefin{
  font-family: $fuente-josefin;
}

.letras-separadas {
  letter-spacing: 0.7rem;
}

.fuente-josefin-light {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
}

// -CSS especíico de 'limbo.html'

.fuente-opensans{
  font-family: $fuente-opensans;
}

// Centra un div en el absoluto centro.
.centrar {
  @include centrar();
}

.vertical-align {
  @include vertical-align();
}

// Animación CSS del loadin p5

@keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.lds-eclipse {
  position: relative;
}
.lds-eclipse div {
  position: absolute;
  -webkit-animation: lds-eclipse 0.6s linear infinite;
  animation: lds-eclipse 0.6s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 $color-seleccion;
  -webkit-transform-origin: 80px 82px;
  transform-origin: 80px 82px;
}
.lds-eclipse {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}