@charset "utf-8";
// Importa el CSS de las estrellas (lo pongo en otro docu para no tener todo aquí y se alente la máquina.)
@import "minima/estrellas";

$fuente-josefin: 'Josefin Sans', sans-serif;
$fuente-opensans: 'Open Sans', sans-serif;
$color-lectura: rgb(233, 233, 233);
$color-seleccion: #DF0202;
$color-post-titulo: rgb(180, 0, 0);
$color-post-link: rgb(147, 197, 255);
$bs-md-break: 768px;

hr{
  border-color: gray;
}

canvas{
  max-width: 100%;
  height: auto;
}

// Scrollbar personal
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #1f1f1f;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6c6c6c;
}
::-webkit-scrollbar-thumb:active {
  background: #e5e5e5;
}
::-webkit-scrollbar-track {
  background: #000000;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #000000;
}
::-webkit-scrollbar-track:active {
  background: #000000;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
// /Scrollbar personal

/* Mixin para vertical-align */
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// Mixin para centrar
@mixin centrar() {
  position: absolute;
  top: 50%;
  left: 50%;
  /*El translate hace que el punto de anclaje esté en el centro.*/
  transform: translate(-50%, -50%);
}

// Todos recomiendan usar ésto, jej.
* {
  box-sizing: border-box;
}

footer a{
  color: white;
}

footer a:hover{
  text-decoration: none;
  color: rgba($color:black, $alpha: 0.0);
}

body{
  min-height: 100%;
}

::selection {
  background: $color-seleccion;
}

// CSS especíico de 'limbo.html'
.limbo-body {
  background: black;
}

.fuente-josefin-limbo {
  font-family: $fuente-josefin;
  font-size: 4rem !important;
}

.fuente-josefin{
  font-family: $fuente-josefin;
}

.letras-separadas {
  letter-spacing: 0.4rem;
}

.fuente-josefin-light {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
}

// -CSS especíico de 'limbo.html'

.fuente-opensans{
  font-family: $fuente-opensans;
}

// Centra un div en el absoluto centro.
.centrar {
  @include centrar();
}

.vertical-align {
  @include vertical-align();
}

#menu-lateral a{
  color: white;
  text-decoration: none;
}
#menu-lateral a:hover{
  color: black;
  text-decoration: none;
  font-weight: bold;
  background-color: white;
}

#menu-lateral{
  z-index: 1;
  background-color: rgba($color:black, $alpha: 0.6);
  position: fixed;
  right: 0;
  bottom: calc(100% - 94vh);
  // Este media hace que el menú lateral desaparezca en pantallas chicas.
  @media screen and (max-width: $bs-md-break){
    display: none;
  }
}

#menu-navbar{
  top: 0;
  z-index: 10;
  position: fixed;
  width: 100%;
  transition: top 0.3s;
  @media screen and (min-width: $bs-md-break){
    display: none;
  }
}

// /Animación CSS del loading p5

.color-lectura{
  color: $color-lectura;
}

.color-post-titulo{
  color: $color-post-titulo;
}

.posts{
  font-size: 0.905rem!important;
}

.posts a{
  color: $color-post-link;
}

#miNombre{
  text-shadow: -4px 5px 1px red, 1px 4px 2px green, 4px 7px 2px blue;
}

#links-contacto a{
  color: $color-post-link;
}

// CSS especial para el 3D en 'contacto'.
#cubo3d{
  width: 450px;
  height: 450px;
}

// Ésto hace que el contenido, cuando es menor a md, se haga para abajo.
#navbar-oculto{
  height:0px;
  @media screen and (max-width: $bs-md-break){
    height: 50px;
  }
}

#manifiesto{
  @media screen and (max-width: $bs-md-break){
    font-size: 2.5rem;
  }
  overflow-wrap: break-word;
}

.display-1{
  color: #32383f!important;

}