<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "es" }}">
{%- include head.html -%}
<body style="background: #020202;">
    {%- include navbar.html -%}
    {%- include menu_lateral.html -%}
  <main aria-label="Content">
        <div class="container pt-2">
            <div class="row">
              <div class="col-md-12 pt-3">
                <!-- Aquí va el 3D de three.js -->
                <div class="d-flex justify-content-center">
                    <div id="cubo3d"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="text-center pt-3">
                    <p id="miNombre" class="fuente-opensans text-white h2">Óscar A. Montiel</p>
                    <p id="links-contacto" class="text-white"><span><a href="https://github.com/animanoir" target="_blank">GitHub</a></span> | <span> <a href="https://www.linkedin.com/in/oscaramontiel/" target="_blank">LinkedIn</a></span></p>
                    <p class="text-white fuente-josefin-light">omontiel@animanoir.com</p>       
                  </div>
              </div>
            </div>
          </div>
  </main>
  {%- include footer.html -%}
  <!-- BS 4.2 JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script> -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <script defer src="{{ "/assets/js/app.js" }}"></script>
  <script src="{{ "/assets/js/three.min.js" }}"></script>

  <!-- Three.js ------------------------------------------------>
  <script defer>

    {%- include cubo3d.js -%}

  </script>

</body>
</html>