<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "es" }}">
{%- include head.html -%}

<body style="background: #020202;">
  {%- include navbar.html -%}
  {%- include menu_lateral.html -%}
  <main aria-label="Content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div>
            <p id="manifiesto" class="display-1 mt-3 ">
              <span class="color-post-titulo">El silencio es aleatorio, como el movimiento.</span>
              <b>Animanoir</b>. . . es un búnker creativo. Un lugar recluído dentro de la virtual infinidad de la red
              global, en este siglo XXI.

              No buscamos innovar; no buscamos vendernos. Sólo trascender. Sólo expresarnos a través de pensamientos,
              éstos que transmutan en video, animación, música y texto, o cualquier otro arte que el ser humano haya
              creado (o esté por hacerlo).

              ¿Herramientas? Con que tengamos cerebro es suficiente. Nunca nos limitamos, pero tampoco sobreexplotamos.
              Sea papel y lápiz, sea computadora, sean incluso nuestros propios suspiros; el arte está en el contexto.
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
  {%- include footer.html -%}
  {%- include bootstrapjs.html -%}
  <script defer src="{{ "/assets/js/app.js" }}"></script>

</body>

</html>